html {
    font-size: 14px;
    font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
    color: #222;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}
body {
    -webkit-font-smoothing: antialiased;
}


.site-header {
    width: 100%;
    position: absolute;
    height: 80px;

}
.site-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-contents{
  max-width: 1140px;
  max-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.header-contents ul{
  display:flex;
  list-style:none;
}
.header-pc-logo {
    width: auto;
    height: 20px;
}
nav .header-menulist > li + li {
    margin-left: 30px;
}
a {
    color: #222;
    text-decoration: none;
}
.header-menulist{
  height: 40px;
}
nav .header-nav-item > span {
    display: block;
    font-weight: bold;
    text-align: center;
}